<html>
  <head>
    <script src="../../latest/active.js"></script>
    <script src="../lib/prototype.js"></script>
    <script>
      $(document).observe('dom:loaded',function(){
        $('trigger').observe('click',function(){
          try{
            var template = new ActiveView.Template($('template').value);
            $('output').update(template.render(ActiveSupport.JSON.parse($('scope').value)));
          }catch(e){
            alert('An error occurred while rendering the template:' + e);
          }
        });
      });
    </script>
    <style>
      p {
        font-weight:bold;
      }
      
      textarea {
        width:400px;
        height:200px;
      }
    
      #output {
        width:500px;
        height:400px;
        border:2px solid #ccc;
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <p>Template Source</p>
<textarea id="template"><h2><%= title %></h2>
<ul>
  <% for(var i = 0; i < list.length; ++i){ %>
    <li><%= list[i] %></li>
  <% } %>
</ul></textarea>
        </td>
        <td>
          <p>Template Scope (Must be valid JSON)</p>
<textarea id="scope">{
  "title": "The Title",
  "list": [
    "one",
    "two",
    "three"
  ]
}</textarea>
        </td>
      </tr>
    </table>
    <input type="button" id="trigger" value="Render"/>
    <div id="output"></div>
  </body>
</html>