html {
  margin:0;
}

body {
  font-family:Helvetica,Arial;
  background-color:#eee;
  padding:15px;
  margin:0;
}

a {
  color:#900;
  text-decoration:none;
  font-weight:bold;
}

a:hover {
  color:#f00;
  text-decoration:underline;
}

#return {
  position:absolute;
  top:15px;
  right:15px;
}

#example_container {
  vertical-align:top;
  width:740px;
}

th {
  text-align:left;
}

th {
  padding-bottom:5px;
  border-bottom:1px solid #ccc;
}

td {
  padding-top:10px;
}

pre.highlighted {
	margin:0;
	padding:20px 30px 20px 30px;
	background-color:#000;
	color:#fff;
	font-size:12px;
	overflow:auto;
	width:740px;
}

h1 {
  margin:0 0 5px 0;
  padding:0;
}

h2 {
  font-size:14px;
  margin:0;
  padding:0;
}

h2 span {
  color:#666;
  font-weight:normal;
}