#footer {
    position:relative;
    font-size:9px;
}

#footer p {
  padding-left:5px;
}

#footer p:first-child {
  margin-top:72px;
}

#footer_logos {
  position:absolute;
  top:8px;
}

#header_logo {
    border:none;
    margin-left:115px;
}